$color-white: #fff;
$color-gray-light: #ececec;
$color-gray-dark: #b8b8b8;
$color-black: #000;
$color-bg-light: #fcf8f7;
$color-bg-dark: #f7edec;
$color-text: #1d1d1d;
$color-danger: #ea514d;
$color-info: #82a7f6;
