---
---

<header class="header">
  <div class="header__inner">
    <h1>架空クリニック</h1>
    <p>オンライン受付ページ</p>
  </div>
</header>

<style lang="scss">
  @use "../styles/colors" as *;

  .header {
    background-color: $color-bg-light;

    &__inner {
      width: 768px;
      max-width: 100%;
      padding: 0.5rem 1.5rem;
      margin-left: auto;
      margin-right: auto;
    }
    
    h1, p {
      font-size: 1rem;
      font-weight: 400;
      text-align: center;
    }
  }
  
</style>