---
---

<div>
  <a href="#!">午後の順番受付に関しまして</a>
  <a href="#!">予約受付時間およびキャンセルについて</a>
  <a href="#!">とびひで受診をお考えの方へ</a>
  <a href="#!">呼び出しメールについて</a>
  <a href="#!">休日診察について</a>
</div>

<style lang="scss">
  @use "../styles/colors" as *;

  div {
    margin-top: 1rem;
  }

  a + a {
    margin-top: 0.25rem;
  }

  a {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: $color-gray-light;
    border-radius: 2px;
    color: $color-danger;
    text-decoration: underline;
  }
</style>